<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">

      <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
    <title>PlatanoMovieWebsite</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= favicon_link_tag asset_path('scott-webb-Ar0QYv-qtw4-unsplash.jpg') %>
  <body>
    <%= yield %>


  </body>
</html>
